<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phones</title>

    <%= javascript_include_tag :all %>
  </head>
  <body>
    <%=flash_messages%>
    <%= yield %>
  </body>
<html>
